ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    /* border-bottom: 2px solid #1f2b44; */
    background-color: #1f2b44;
  }
  
  li {
    float: left;
    font-size: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }