<app-navbar></app-navbar>
<div class="container">
    <span class="blankspace"></span>
    <div class="form">
        <p class="heading">Update User Details</p>

        <form [formGroup]="users" (ngSubmit)="UpdateU()">
            <div class="input">
                <input class="inputF" type="text" formControlName='emp' placeholder="Enter Emp Code">
                <span class="error">
                    <ng-container
                        *ngIf="(users.get('emp')?.errors?.['required'] && (users.get('emp')?.dirty || users.get('emp')?.dirty || users.get('emp')?.touched || isSubmitted)) ">
                        Field Required</ng-container>
                </span>
            </div>
            <div class="input">
                <input class="inputF" type="text" formControlName='name' placeholder="Enter Name">
                <span class="error">
                    <ng-container
                        *ngIf="(users.get('name')?.errors?.['required'] && (users.get('name')?.dirty || users.get('name')?.touched ||isSubmitted))">
                        Field Required</ng-container>
                </span>
            </div>
            <div class="input" formArrayName="email">
                <div class="addIdBtn">
                    <!-- <label  class="label">Email:</label> -->
                    <button type="button" (click)="addEmails()" class="addEmailsBtn">+ Email</button>
                </div>
                <div class="deleterow" *ngFor="let emailId of emails.controls; let i=index">
                    <!-- <label class="indexlabel" for="email-{{i}}">Email{{i+1}} </label> -->
                    <input class="inputF" type="text" [formControlName]='i' placeholder="Email {{i+1}}: xyz@abc.com">
                    <button type="button" (click)="deleteEmails(i)" class="deleteEmailsBtn">- </button>
                </div>
                <br>
                <span class="error" *ngFor="let i=index">
                    <ng-container *ngIf="(emails.controls[i]?.errors?.['required'] && (emails.controls[i]?.dirty || emails.controls[i]?.touched ||isSubmitted))">
                        Field Required</ng-container>
                    <ng-container *ngIf="(users.get('email')?.invalid && !(users.get('email')?.errors?.['required']))">
                    </ng-container>
                </span>
            </div>
            <div class="input">
                <input class="inputF" type="text" formControlName='phNo' placeholder="Enter Phone Number">
                <br>
                <span class="error">
                    <ng-container
                        *ngIf="users.get('phNo')?.errors?.['required'] && (users.get('phNo')?.touched || isSubmitted)">
                        Phone number is required</ng-container>
                    <ng-container *ngIf="users.get('phNo')?.errors?.['phoneInvalid'] && users.get('phNo')?.touched">
                        Enter a valid
                        phone number (+xxxXXXXXXXXXX)</ng-container>
                </span>
            </div>
            <div class="input">
                <input class="inputF" type="date" formControlName='dob' placeholder="Enter DOB">
                <span class="error">
                    <ng-container
                        *ngIf="(users.get('dob')?.errors?.['required'] && (users.get('dob')?.dirty || users.get('dob')?.touched || isSubmitted))">
                        Field Required</ng-container>
                </span>
            </div>

            <div class="btnDiv">
                <button class="addBtn" type="submit">UPDATE USER</button>
            </div>

        </form>
    </div>
    <div class="formImage">
    </div>
</div>

