.heading{
    display: flex;
    width:100%;
    justify-content: space-around;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    align-items: center;
    color: #ace0eb;
    margin-bottom:40px;
}

.blankspace{
    height:50px;
}

form{
    width:90%;
}

form[_ngcontent-ng-c4070282433] {
    width:50%;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* width:300vh; */
    height:100vh;
    /* background-color: #0e2537; */
}

.formImage{
    background-image: url('editImg.jpeg');
    flex-basis: 40%;
    /* background-color: #ace0eb; */
    height: 100%;
}


.deleteEmailsBtn{
color: red;
width:50px;
height:50px;
font-size: 20px;
}

.deleterow{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 15px;
}

.form{
    transform: translate(0%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-basis: 60%;
    
}

form[_ngcontent-ng-c568010426] {
    width:70%;
}

/* .addUsers{
    display: flex;
    background-color: #0e2537;
    align-items: center;
    flex-direction: row;
    justify-content: center;

} */

.radio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
}

.addIdBtn{
    width:100%;
    display: flex;
    justify-content:flex-end;

}

.inputF{
    color: black;

    width:100%;
    height:30px;
    border: none;
    background-color: rgb(235, 233, 233);
    padding:10px;
    border:none;
    border-bottom:1px solid #000000;
    border-radius: 5px;

}

.input{
    /* width:100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#ffffff;
    row-gap: 20px;
}

.indexlabel{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis:10%;
    color: #000000;
    
}

.label{
    width:70px;
    color: #000000;
    
}

.btnDiv{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}

.deleteEmailsBtn{
    border-color: red;
}

.addBtn{
    width:100%;
    height:50px;
    border: none;
    border-radius: 5px;
    background-color: #d9effb;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.addEmailsBtn{
    height:30px;
    width:80px;
    border: none;
    background-color: #d0dee5;
    border: 0.5px solid green;
}

.addBtn:hover{
    background-color: #d0dee5;

}

.error{
    color: red;
}

input[type="date"]{
    /* background-color: white; */
    color: black;
    border: none;
    font-size: 13px;
    outline: none;
    border-radius: 5px;
    padding:8px;
    
}

::-webkit-calendar-picker-indicator{
    /* width:100%; */
    background-color: #ffffff ;
}