.loginPage{
    /* background-color: #1F2833; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}



.bgImage{
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height:100%;
    background-image: url(".//bg.jpeg");
}

.heading1{
    display: flex;
    justify-content:space-around;
    color: white;
    /* color: #a5a7a1; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* transform: translate(41%,205%); */
    background-color: #0b0c105c;
    padding:10px;
    margin-top: 50px;
    border-radius: 4px;
    width:800px;
}

.loginCard{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    /* transform: translate(125%,12%); */
    box-shadow: #000000 0px 4px 16px;
    width:400px;
    height: 500px;
    background-color: #0b0c108b ;
    border-radius: 10px;
    row-gap: 50px;

}

.formItems{
    width:200px;
}

.loginHeading{
    /* margin-left:35px; */
    color: white;
    /* color: #a5a7a1; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;

}



.inputBox{
    font-size: 20px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    height:30px;
    width:100%;
    color: white;
}

.input{
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    border: none;
    width:100%;
    color: white;
    /* background-color: #575757; */
}

.error{
    color: red;
}

.button{
    width:100%;
    margin-bottom:20px;

}

.loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #0B0C10;
    /* border: 1px solid #66FcF1; */
    border: none;
    height:40px;
    color: white;
    margin-top: 10px;

    /* row-gap:20px; */
}

.loginButton:hover{
    background-color: white;
    color: black;
}

.inputBox.ng-invalid.ng-touched
{
    border-bottom: 1px solid red;
}

.inputBox.ng-valid{
    border-bottom: 1px solid green;

}