.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin:10px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.addUsers{
    display: flex;
    border: 1px solid #505c72;

    flex-direction: row;
    /* width:90%; */
    justify-content: center;
    /* transform: translate(8%, 10%); */
    width:80%;
}

.formImg{
    display: flex;
    background-color: #505c72;
    width:40%;
}

.image{
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height:100%;
    background-color: #505c72;

    background-image: url('.//formImg.jpeg');

}

.radio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
}

.input{
    width:500px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.label{
    width:130px;
}

.inputF{
    margin:10px;
    width:1000px;
    height:50px;
    border: none;
    background-color: rgb(235, 233, 233);

}

.btnDiv{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}

.addBtn{
    width:100px;
    height:50px;
    border: none;
    border-radius: 5px;
    background-color: #505c72;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.addBtn:hover{
    width: 100%;
}