<app-navbar></app-navbar>
<div class="body">
  <div class="image">
    <img src="bgImage">
  </div>
  <div class="button">
    <button class="addUserButton" type="submit" (click)="addUsers()">+ Add Users</button>
  </div>

  <div class="container">
    <h2 class="userHeading">USER</h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">E-ID</div>
        <div class="col col-2">Name</div>
        <div class="col col-3">Email</div>
        <div class="col col-4">Phone No</div>
        <div class="col col-5">DOB</div>
        <div class="col col-6">Actions</div>
      </li>
      <li class="table-row" *ngFor="let formVal of formValue; let i=index ">
        <div class="col col-1">{{formVal.emp}}</div>
        <div class="col col-2">{{formVal.name}} </div>
        <div class="col col-3">{{formVal.emails}}</div>
        <div class="col col-4">{{formVal.phNo}}</div>
        <div class="col col-5">{{formVal.dob}}</div>
        <div class="col col-6"><button class="btn" (click)="deleteUser(i)">Delete</button>
          <button class="btn" (click)="editUser(formVal.emp)">Edit</button></div>
      </li>
    </ul>
  </div>
</div>